

p{
  color: hsl(0, 0%, 40%);
  font-size: 1.6rem;
  line-height: 1.7;
  padding: 10px;
}





@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#content {
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  opacity: 0;
}

.fade-in {
  animation-name: fade-in;
  animation-fill-mode: forwards;
}

.fade-out {
  animation-name: fade-out;
  animation-fill-mode: forwards;
}

.navigation-item {
  transition: color 0.3s ease-in-out;
}
.navigation-item.active {
  color: red; /* Change this to the desired color */
}